*{
    font-size: 22px;
}
.absolute {
    position: absolute;
}

.relative {
    position: relative;
}
.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.relative-center {
    position: relative;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 30%;
    height: 100%
}

.background {
    float: left;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 50%;
}

form {
    width: 100%;
}

.circle-btn {
    display:block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: gray;
}

input {
    width: 500
}

.scroll
{
    width: 100%
}

.scroll > img {
    position: absolute;
    left: 0%;
    width: 100%;
}
#scroll-anim
{
    height: 100%;
    width: 50%;
}

#scroll
{
    position: absolute;
    height: 5%;
    width: 75%;
    top: 51%;
    transform: translate(-50%, 0);
}

#card
{
    position: absolute;
    height: 90%;
    left: 0%;
    width: 95%;
    transform: translate(2.5%, 2.5%);
}

#scroll-sheet
{
    height: 100%;
}